<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Reset Password</title>
</head>
<body>
<h1>Enter your new password</h1>
<div class="container">
  <form action="http://localhost:3000/api/customers/reset-password" method="POST">
    <div class="container">
      <input type="hidden" value="{{data.token}}" name="token" required>
      <p>
      <label for="password"><b>Password</b></label>
      <input type="password"  pattern=".{6,12}" placeholder="Enter Password" name="password" id="password" required title="6 to 12 characters">
      </p>
      <p>
        <label for="c_password"><b>Confirm Password</b></label>
        <input type="password" placeholder="confirm Password" name="c_password" id="c_password" required>
      </p>
      <button type="submit">Submit</button>
      <br>
      {{#if data.message}}
        <p style='color:{{data.color}};'>{{data.message}}</p>
      {{/if}}
    </div>
  </form>
</div>
</body>
</html>
